/* styles.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
}

h1, h2, h3 {
  color: #444;
  align-items: center;
  padding: auto;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #0066cc;
}

a:hover {
  text-decoration: underline;
}

button {
  padding: 10px ;
  gap: 4px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.seat {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
  line-height: 30px;
  background-color: #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.seat.selected {
  background-color: #28a745;
  color: #fff;
}

.seat:hover {
  background-color: #ccc;
}

#total-amount {
  font-weight: bold;
  font-size: 18px;
}

.seat-container {
  margin: 20px 0;
}

.ticket-booking {
  margin-top: 20px;
}
nav {
  padding: 16px;
  display: flex;
  gap: 20px;
}